.styled-table {
  display: inline-block;
 
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  background-color: #f00000;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #f00000;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
  text-align: center;
  width: 160px;
  padding: 12px 12px;
}


.styled-table tbody {
  width: 820px;
  display: inline-block;
 

  
  height:400px;
  overflow-y: auto;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr {
  background-color: white;
}
.styled-table tbody tr:hover {
  background-color: 	#E8E8E8;
}
/* .styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:nth-of-type(odd) {
  background-color: #f3f3f3;
} */

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
input {
 width:120px;
}





.row_modal {

  display: inline-flex; ;
}

.column_modal {
  padding: 1rem;
}
.styled-transcript{
  width: 100%;

}

.styled-transcript-thead{
 
    width: 100%;
    height: 40px;
    text-align: center;
}

.styled-transcript-tbody{
  height: 200px;
  
  width: 100%;
  overflow: auto;
}


.transcript_head{
 background-color: #f00000;
 font-family: sans-serif;

}

.transcript_cell{
  text-align: center;
  font-family: sans-serif;
}

.div-table{
  padding-right: 40px;
  float:left;
}

.div-counts{
  padding-left: 40px;
  float:left;
}